Makefile
Makefile.in
configure
aclocal.m4
src/config.h.in
src/cmdar.h
src/cmdar.c
src/commands.txt
src/config.h
src/conio_keys.h
src/stamp-h1
src/snapshot.h
lua/default_lua.h
libtool
*~
*.orig
*.rej
*.o
*.lo
*.la
.libs
*.a
lua/luac
.dirstamp
src/naim
CYGWIN-PATCHES/*.README
autom4te.cache
config.log
config.status
libltdl
aclocal.m4
config.guess
config.sub
compile
install-sh
missing
